@charset "utf-8";
/* CSS Document */
* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.menu {
    background-color: #222d32;
    color: #b8c7ce;
    position: fixed;
    left: 0;
    top: 0;
    width: 30px;
    min-height: 100vh;

    transition: width 0.2s linear;
}
.menu:hover {
    width: 120px;
}
.menu ul {
    list-style-type: none;
}
.menu ul li {
    overflow: hidden;
    width: 120px;
    margin: 10px 0px;
    cursor: pointer;

    height: 40px;
    line-height: 40px;
    color: white;
}
.menu ul li > span {
    display: inline-block;
    text-align: center;
    font-size: 16px;
    line-height: 1;
    vertical-align: middle;
}
.menu ul li > span:nth-child(1) {
    width: 30px;
    text-align: center;
    /*padding-left: ;*/
}
.menu ul li .icon {
    width: 30px;
    text-align: center;
    display: inline-block;
}
.menu ul li .label {
    display: inline-block;
}

.main .topology-context {
    min-height: 100vh;
    overflow: auto;
    background: #fff url('../img/backimg2.png');
}

/********** 右键菜单 **********/
.main .topology-context .right-click-menu {
    position: absolute;
    display: none;
    width: 180px;
    background-color: #FFFFFF;
    border: 1px solid #b7c8f6;
}
.menu-item {
    cursor: pointer;
    padding-left: 5px;
    width: 100%;
    font-size: 18px;
    height: 24px;
    line-height: 24px;
    text-align: left;
    border-bottom: 1px dotted #cccccc;
}

.menu-item span {
    margin-left: 5px;
    font-size: 16px;
}

